html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  padding-top: 10px;
  margin: 100px;
}

.form-floating {
  margin: 10px;
}

.buttonClass {
  margin: 10px;
}